@font-face {
    font-family: "MyFont";
    src: url("./my-font.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: "MyFont", serif;
    background: url(./icon.png);
}